@charset 'utf-8';
@import '../../assets/scss/SCSSComponent.scss';

.touchableopacity{outline: none; border: none; background: none; border-radius: 0;}
.btn{
	border-width: 3px;
	&.tp1{
		background: red;
	}
}