@charset 'utf-8';
@import '../../assets/scss/SCSSComponent.scss';

.itemWrap{
	.itemInner{
		border-radius: 3px;
		background-color: #fff;
		border: 1px solid #eaeaea;
		.itemWrapInUserInfo{padding: 15px;}
	}
}