@charset 'utf-8';
@import '../../assets/scss/SCSSComponent.scss';

.itemTumbnailWrap{
	.itemTumbnailInner{
		background-color: #f9f9f9;
		.item{
			text-align: center;
			img{max-width: 100%;}
		}
	}
}